# Created by Vercel CLI
BLOB_READ_WRITE_TOKEN=vercel_blob_write_token
GOOGLE_PLACES_API_KEY=google_places_api_key
GOOGLE_PLACE_ID=google_place_id
MONGODB_URI=mongodb_uri
NEXT_PUBLIC_PAYLOAD_URL=http://localhost:3000
PAYLOAD_SECRET=payload_secret
VERCEL_OIDC_TOKEN=vercel_oidc_token